{% extends 'base.html' %}
{% load i18n %}               
{% load staticfiles %}

{% block title %}Tomo – {% trans 'Statistika' %}{% endblock %}


{% block content %}
<div class="content-section-a tomo-top-section"><div class="container">
{% filter latex_markdown %}

<h2>Podatki odvisni od tega v katerem courseu smo. </h2>

<p title="Rešenih podnalog">
Število rešenih podnalog v odvisnosti od uporabnika.
</p>
{% endfilter %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
	var podatki = getJson('http://127.0.0.1:8000/tomo_statistics/2/js');
<!-- 	var data = google.visualization.arrayToDataTable([
	  //['Year', 'Sales'],
	  //['2004',  1000],
	 //['2005',  1170],
	  //['2006',  660],
	  //['2007',  1030]]); -->
	var data = google.visualization.array.ToDataTable(podatki)

	var options = {
	  title: 'Company Performance',
	  curveType: 'function',
	  legend: { position: 'bottom' }
	};

	var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

	chart.draw(data, options);
  }
</script>
<div id="curve_chart" style="width: 900px; height: 500px"></div>

{% for value, first_name, last_name in my_students %}
{{last_name}}, {{first_name}} : {{value}}. </p>
{% endfor %}

{% for set in problem_sets%}
<p title="I'm a tooltip">
- {{set.title}}
</p>
{% endfor %}

Število problemov: {{ number_of_problems}} </p>
Število vseh podproblemov : {{number_of_problem_parts}} </p>

{% for st_resenih, koliko_resevalcev in solved_atleast %}
{{st_resenih}}, {{koliko_resevalcev}} </p>
{% endfor %}

</div></div>
{% endblock content %}