{% extends 'base.html' %}
{% load i18n %}               
{% load staticfiles %}

{% block title %}Tomo – {% trans 'Statistika' %}{% endblock %}


{% block content %}
<div class="content-section-a tomo-top-section"><div class="container">
{% filter latex_markdown %}

<h2>Podatki odvisni od tega v katerem courseu smo. </h2>

<p title="Rešenih podnalog">
Število rešenih podnalog v odvisnosti od uporabnika.
</p>
{% endfilter %}

{% for first_name, last_name, value in my_students %}
{{last_name}}, {{first_name}} : {{value}}. </p>
{% endfor %}

{% for set in problem_sets%}
<p title="I'm a tooltip">
Koliko je setov? {{set.title}}
</p>
{% endfor %}

Število problemov: {{ number_of_problems}} </p>
Število vseh podproblemov : {{number_of_problem_parts}} </p>

</div></div>
{% endblock content %}